.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input {
  width: 150px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

.information button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
}

.information button:hover {
  cursor: pointer;
}

.articles {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: aqua;
  flex-direction: column;
}

.article {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.article h3 {
  margin: 20px;
}

.card {
  width: 20rem;
}

.card-img,
.card-img-top {
  height: 11rem;
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: black;
  background-color: white;
}

.paginationActived a {
  color: black;
  background-color: white;
}

.leLogo {
  width: 11%;
}

#light {
  background-color: white;
}

#dark {
  background-color: black;
}

.apparition {
  animation: apparition 0.8s ease-out;
}

.apparitionHome {
  animation: apparition 5s ease-out;
}

.pulse-anim {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  animation: pulse 1.3s infinite;
}

.image-zoom-home {
  background-position: center;
  transition: transform 0.4s ease-in-out;
  transform: scale(1);
  will-change: transform;
}

.image-zoom-home::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0deg,
    rgb(248, 124, 0) 0%,
    rgb(248, 124, 130) 100%
  );
  mix-blend-mode: multiply;
  transition: opacity 0.4s ease-in-out;
}

.whiteShadow {
  box-shadow: 0 0.5rem 1rem rgb(255 255 255 / 30%) !important;
}

.image-zoom {
  width: 300px !important;
  height: 400px !important;
  background-position: center;
  transition: transform 0.4s ease-in-out;
  transform: scale(1);
  will-change: transform;
}

.image-zoom::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0deg,
    rgb(248, 124, 0) 0%,
    rgb(248, 124, 130) 100%
  );
  mix-blend-mode: multiply;
  transition: opacity 0.4s ease-in-out;
}

.fatmen-img {
  overflow: hidden;
}

.fatmen-img:hover .image-zoom {
  transform: scale(1.3);
}

.fatmen-img:hover .image-zoom::before {
  opacity: 0.3;
}

.home-logo:hover .image-zoom-home {
  transform: scale(1.3);
}

.home-logo:hover .image-zoom-home::before {
  opacity: 0.3;
}

.content {
  width: 100%;
  height: 100vh;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loaderImg {
  height: 50%;
}

@keyframes pulse {
  from {
  }
  to {
    box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY();
  }
}
